:root {
  --dark: #1a1a1a;
  --white: #ffffff;
  --light-grey: #efefef;
  --gold: #ecd5a7;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Oswald", sans-serif;
  font-weight: 500 !important;
  line-height: 1.5 !important;
}

a {
  color: var(--light-grey);
}

a:hover {
  color: var(--light-grey);
  text-decoration: none;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-light {
  background-color: var(--white) !important;
}

.bg-gold {
  background-color: var(--gold);

}

.bg-light-grey {
  background-color: var(--light-grey);
}

.text-gold {
  color: var(--gold) !important;
}

.text-light {
  color: var(--white) !important;
}

.navbar {
  min-height: 5rem;
}

.nav-link {
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
}

section {
  padding: 6rem 0;
}

#slider {
  padding: 0;
}

.first-slider {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent),
    url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.second-slider {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent),
    url(img/2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.third-slider {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent),
    url(img/3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.mt-6 {
  margin-top: 4rem;
}

.badge {
  font-weight: 500;
  padding: .5rem 1.5rem;
  line-height: 1.5;
}

.btn {
  padding: .5rem;
}

.btn-secondary {
  background-color: var(--dark);
}

.btn-gold {
  background-color: var(--gold);
  color: var(--dark);
}


/* <a class="navbar" href="#">Business</a>
                <a class="navbar" href="#">Politics</a>
                <a class="navbar" href="#">Opinion</a>
                <a class="navbar" href="#">Science</a>
                <a class="navbar" href="#">Health</a>
                <a class="navbar" href="#">Style</a>
                <a class="navbar" href="#">Travel</a> */